@using AplicacionTestMVC.Models.ViewModels
@model AnimalViewModel

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Lista de Animales</h1>
    <ul>
        @foreach (var a in Model.Animales)
        {
            <li>
                <div class="d-flex justify-content-between align-items-center form-control">
                    <!-- Mostrar información del animal -->
                    <span class="animal-id">ID: @a.IdAnimal</span>
                    @a.NombreAnimal

                    <!-- Formulario para enviar el ID del animal -->
                    <form asp-controller="Home" asp-action="DetailAnimal" method="post">
                        <!-- Campo oculto para enviar el ID del animal -->
                        <input type="hidden" name="idAnimal" value="@a.IdAnimal" />
                        <button type="submit" class="btn btn-primary">Detalles</button>
                    </form>

                    <form asp-controller="Home" asp-action="EditAnimal" method="post">
                        <!-- Campo oculto para enviar el ID del animal -->
                        <input type="hidden" name="idAnimal" value="@a.IdAnimal" />
                        <button type="submit" class="btn btn-warning">Editar</button>
                    </form>

                    <form asp-controller="Home" asp-action="EliminateAnimal" method="post">
                        <!-- Campo oculto para enviar el ID del animal -->
                        <input type="hidden" name="idAnimal" value="@a.IdAnimal" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </li>
        }
    </ul>
    <form asp-controller="Animal" asp-action="CreateAnimal" method="post">
        <button type="submit" class="btn btn-light align-items-center">Crear animal</button>
    </form>
</div>
