@using AplicacionTestMVC.Models.ViewModels
@model AnimalViewModel

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Lista de Animales</h1>
    <ul>
        @foreach (var a in Model.Animales)
        {
            <li>
                <div class="d-flex align-items-center">
                    <!-- ID del Animal -->
                    <span class="animal-id col-2">ID: @a.IdAnimal</span>

                    <!-- Nombre del Animal -->
                    <span class="col-4">@a.NombreAnimal</span>

                    <!-- Botón de Detalles -->
                    <form asp-controller="Home" asp-action="DetailAnimal" method="post" class="m-1 col-2">
                        <input type="hidden" name="idAnimal" value="@a.IdAnimal" />
                        <button type="submit" class="btn btn-primary w-100">Detalles</button>
                    </form>

                    <!-- Botón de Editar -->
                    <form asp-controller="Home" asp-action="EditAnimal" method="post" class="m-1 col-2">
                        <input type="hidden" name="idAnimal" value="@a.IdAnimal" />
                        <button type="submit" class="btn btn-warning w-100">Editar</button>
                    </form>

                    <!-- Botón de Eliminar -->
                    <form asp-controller="Home" asp-action="EliminateAnimal" method="post" class="m-1 col-2">
                        <input type="hidden" name="idAnimal" value="@a.IdAnimal" />
                        <button type="submit" class="btn btn-danger w-100">Eliminar</button>
                    </form>
                </div>
            </li>
        }
    </ul>
    <form asp-controller="Animal" asp-action="CreateAnimal" method="post">
        <button type="submit" class="btn btn-light align-items-center">Crear animal</button>
    </form>
</div>
